# Copy this file to .env and update values
ADMIN_PASSWORD='xxxxxxxxxxxxxxxxxxxx'
COUCHDB_REMOTE_PASSWORD_PRODUCTION=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
COUCHDB_REMOTE_PASSWORD_STAGING=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
MAPBOX_ACCESS_TOKEN='xxxxxxxxxxxxxxxxxxxx'
MORPH_API_KEY=xxxxxxxxxxxxxxxxxxxx
GOOGLE_ANALYTICS=UA-xxxxxxxxx-x
BUGSNAG_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
INSTABUG_API_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
